.header-image
{
    background: url('img/kmkphoto.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*height: 100%;*/

}

#page
{
    height: 100vh;

}

.logo
{
    color: rgba(55, 55, 27, 1);
    font-family: 'Montserrat', "Songti TC";
}

body
{
    color: white;
    background-color: rgba(248, 249, 249, 1);
}

.navbartop
{
    font-size: 20px;
    align-items: center;
}

.topbar
{
    background-color: rgba(242, 203, 5, 1);
}

.midbar1
{
    color: black;
    background-color: rgba(248, 249, 249, 1);
}

.midbar
{
    background-color: ;
}

.mbank
{
    text-align: end;
}

.cechy
{
    color: black;

}

.icon
{
    text-align: center;
}
.iconopis
{
    text-align: center;
    font-size: 10px;
    padding: 10px;
}
.footer
{
    background-color: black;
    text-align: center;
}

.cechy1
{
    background-color: white;
}

.midbarphone
{
    font-size: 30px;
}

.bankicon
{
    font-size: 40px;
}

.bankdetails
{
    font-size: 20px;
}

.topbarenvelope
{
    color: rgba(55, 55, 27, 1);
}
.topbarphone
{
    color: rgba(55, 55, 27, 1);
}

.content {
    margin-top: 12rem!important;
}

.zadzwon
{
    margin-bottom: 11.5rem!important;
    background-color: rgba(242, 203, 5, 1);
    border: none;
}