.header-image
{
    background: url('img/kmkphoto.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*height: 100%;*/

}

#page
{
    height: 100vh;

}

.logo
{
    color: rgba(55, 55, 27, 1);
    font-family: 'Montserrat', "Songti TC";
    font-weight: 600;
}

body
{
    color: white;
    background-color: rgba(248, 249, 249, 1);
}

.navbartop
{
    font-size: 20px;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}

.topbar
{
    background-color: rgba(242, 203, 5, 1);
    font-family: 'Roboto Slab', serif;
}

.midbar1
{
    color: black;
    background-color: rgba(248, 249, 249, 1);
}

.midbar
{
    box-shadow: 0 0 20px #ccc;
}

.mbank
{
    text-align: end;
}

.cechy
{
    color: black;
    margin-top: 5rem!important;

}

.icon
{
    text-align: center;
}
.iconopis
{
    text-align: center;
    font-size: 11px;
    padding: 10px;
    font-family: 'Montserrat', "Songti TC";
}
.footer
{
    background-color: black;
    text-align: center;
}

.cechy1
{
    background-color: white;
    box-shadow: 0 0 20px #ccc;
    align-items: center;
}

.midbarphone
{
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Roboto Slab', serif;
}

.bankicon
{
    font-size: 40px;
}

.bankdetails
{
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

.topbarenvelope
{
    color: rgba(55, 55, 27, 1);
}
.topbarphone
{
    color: rgba(55, 55, 27, 1);
}

.content {
    margin-top: 12rem!important;
    font-family: 'Roboto Slab', serif;
}

.zadzwon
{
    margin-bottom: 6.5rem!important;
    background-color: rgba(242, 203, 5, 1);
    border: none;
    font-family: 'Roboto Slab', serif;
}
.cechyicons
{
    font-size: 30px;
}

.opinie
{
    font-family: 'Montserrat', "Songti TC";
    font-size: 20px;
    font-weight: 500;
}

.opinietresc
{
    font-family: 'Montserrat', "Songti TC" ;
    font-weight: 200;
    font-size: 15px;
}